# Firebase Configuration
GOOGLE_APPLICATION_CREDENTIALS=/Users/apple/Desktop/freelance_proposal_optimizer/firebase-service-account.json

# OpenAI Configuration
OPENAI_API_KEY=sk-your-openai-api-key-here
